@import url('https://fonts.cdnfonts.com/css/helvetica-2?styles=65655,65653,65657,65659');

@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

                

body {
  margin: 0;
  font-family: 'Carme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #231F20;
}

.btnFf {
  background: transparent;
  transition: background-color 0.3s;
}

